# =========================
# Archives
# =========================
*.zip

# =========================
# KiCad cache files
# =========================
fp-cache
fp-info-cache

# =========================
# KiCad backups & autosaves
# =========================
*.bak
*-autosave.kicad_sch
*-autosave.kicad_pcb

# =========================
# KiCad user-specific settings
# =========================
*.kicad_prl

# =========================
# KiCad temp / lock files
# =========================
*.lck
*.tmp

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Visual Micro / Arduino IDE temp files
# =========================
__vm/
*.vmps.xml
*.vsarduino.h

# =========================
# Microsoft Excel temp files
# =========================
~$*.xls
~$*.xlsx
~$*.xlsm
~$*.xlsb